.js-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;  
}
.js-gallery li{
    width: 380px;
    height: 240px;    
    margin-bottom: 20px;
    margin-right: 20px;
    list-style: none;
}
.js-gallery img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}